node_modules
.dockerignore
Dockerfile
.git
postgres
src
truffle-config.js
tsconfig.json
.env
migrations
docker
contracts
config
docker-compose-bc.yml
docker-compose-bc-deploy.yml
docker-compose-iota.yml
README.md
bc_deploy_contract.sh
bc_start_servers.sh
bc_stop_servers.sh
iota_start_servers.sh
iota_stop_servers.sh
docs/