name: C/C++ CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    types: [ opened, edited, reopened, review_requested ]
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - name: Install deps
      run: sudo apt-get update; sudo apt-get install python3-distutils libfastjson-dev libcurl4-gnutls-dev libssl-dev -y
    - uses: actions/checkout@v2
    - name: Run CMake
      run: mkdir build; cd build; cmake .. -DCMAKE_INSTALL_PREFIX=/home/runner/work/access/build/ext_install;
    - name: Run make
      run: cd build; make -j8
       
  
